@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBALES */

/* width */
/* ::-webkit-scrollbar {
    width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

/* APLICACION A UN SOLO DIV  */
#caja-comentarios::-webkit-scrollbar {
    width: 6px;
}

#caja-comentarios::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#caja-comentarios::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

#caja-comentarios::-webkit-scrollbar-thumb:hover {
    background: #555;
}